<a href="https://colab.research.google.com/github/GabrielMedeiros32/Bootcamp_Data_Science/blob/main/notebooks/LimpezaDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Limpeza**

Importação das bibliotecas e dos dados

In [ ]:
import pandas as pd
from google.colab import files

In [ ]:
!wget https://github.com/GabrielMedeiros32/Case_Otimizacao/raw/main/dados/generic_input_case.xlsx

--2021-06-04 20:54:22--  https://github.com/GabrielMedeiros32/Case_Otimizacao/raw/main/dados/generic_input_case.xlsx
Resolving github.com (github.com)... 52.69.186.44
Connecting to github.com (github.com)|52.69.186.44|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/GabrielMedeiros32/Case_Otimizacao/main/dados/generic_input_case.xlsx [following]
--2021-06-04 20:54:22--  https://raw.githubusercontent.com/GabrielMedeiros32/Case_Otimizacao/main/dados/generic_input_case.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1123529 (1.1M) [application/octet-stream]
Saving to: ‘generic_input_case.xlsx.1’

generic_input_case. 100%[===================>]   1.07M  7.12MB/s    in 0.2s

2021-06-04 20:54:23 (7.12 MB/s) - ‘generic_input_case.xlsx.1’ saved [1123529/1123529]

In [ ]:
xls = pd.ExcelFile('generic_input_case.xlsx')
xls.sheet_names

['HORIZONTE', 'FROTA', 'GRUA', 'BD_UP', 'FABRICA', 'ROTA']

In [ ]:
dados_datas = pd.read_excel('https://github.com/GabrielMedeiros32/Case_Otimizacao/blob/main/dados/generic_input_case.xlsx?raw=true', sheet_name='HORIZONTE')
dados_trans = pd.read_excel('https://github.com/GabrielMedeiros32/Case_Otimizacao/blob/main/dados/generic_input_case.xlsx?raw=true', sheet_name='FROTA')
dados_gruas = pd.read_excel('https://github.com/GabrielMedeiros32/Case_Otimizacao/blob/main/dados/generic_input_case.xlsx?raw=true', sheet_name='GRUA')
dados_BD_UP = pd.read_excel('https://github.com/GabrielMedeiros32/Case_Otimizacao/blob/main/dados/generic_input_case.xlsx?raw=true', sheet_name='BD_UP')
dados_demand = pd.read_excel('https://github.com/GabrielMedeiros32/Case_Otimizacao/blob/main/dados/generic_input_case.xlsx?raw=true', sheet_name='FABRICA')
dados_rotas = pd.read_excel('https://github.com/GabrielMedeiros32/Case_Otimizacao/blob/main/dados/generic_input_case.xlsx?raw=true', sheet_name='ROTA')

Checagem

In [ ]:
dados_datas

    DIA  MES   ANO CICLO_LENTO
0     1    5  2020           X
1     2    5  2020         NaN
2     3    5  2020         NaN
3     4    5  2020         NaN
4     5    5  2020         NaN
5     6    5  2020         NaN
6     7    5  2020         NaN
7     8    5  2020           X
8     9    5  2020         NaN
9    10    5  2020         NaN
10   11    5  2020         NaN
11   12    5  2020         NaN
12   13    5  2020         NaN
13   14    5  2020         NaN
14   15    5  2020           X
15   16    5  2020         NaN
16   17    5  2020         NaN
17   18    5  2020         NaN
18   19    5  2020         NaN
19   20    5  2020         NaN
20   21    5  2020         NaN
21   22    5  2020           X
22   23    5  2020         NaN
23   24    5  2020         NaN
24   25    5  2020         NaN
25   26    5  2020         NaN
26   27    5  2020         NaN
27   28    5  2020         NaN
28   29    5  2020         NaN
29   30    5  2020         NaN
30   31    5  2020         NaN

In [ ]:
dados_trans

  TRANSPORTADOR  DIA  FROTA_MIN  FROTA_MAX
0       Pastori  NaN         25         27
1         Tover  NaN         12         14
2       Rampazo  NaN         19         21

In [ ]:
dados_gruas

  TRANSPORTADOR  QTD_GRUAS  PORCENTAGEM_VEICULOS_MIN
0       Pastori          2                       0.4
1         Tover          2                       0.4
2       Rampazo          2                       0.4

In [ ]:
dados_demand

    DIA FABRICA  DEMANDA_MIN  DEMANDA_MAX  RSP_MIN  RSP_MAX
0     1     LIM         6400         8000      1.4     1.49
1     2     LIM         6400         8000      1.4     1.49
2     3     LIM         6400         8000      1.4     1.49
3     4     LIM         6400         8000      1.4     1.49
4     5     LIM         6400         8000      1.4     1.49
5     6     LIM         6400         8000      1.4     1.49
6     7     LIM         6400         8000      1.4     1.49
7     8     LIM         6400         8000      1.4     1.49
8     9     LIM         6400         8000      1.4     1.49
9    10     LIM         6400         8000      1.4     1.49
10   11     LIM         6400         8000      1.4     1.49
11   12     LIM         6400         8000      1.4     1.49
12   13     LIM         6400         8000      1.4     1.49
13   14     LIM         6400         8000      1.4     1.49
14   15     LIM         6400         8000      1.4     1.49
15   16     LIM         6400         8000      1.4     1.49
16   17     LIM         6400         8000      1.4     1.49
17   18     LIM         6400         8000      1.4     1.49
18   19     LIM         6400         8000      1.4     1.49
19   20     LIM         6400         8000      1.4     1.49
20   21     LIM         6400         8000      1.4     1.49
21   22     LIM         6400         8000      1.4     1.49
22   23     LIM         6400         8000      1.4     1.49
23   24     LIM         6400         8000      1.4     1.49
24   25     LIM         6400         8000      1.4     1.49
25   26     LIM         6400         8000      1.4     1.49
26   27     LIM         6400         8000      1.4     1.49
27   28     LIM         6400         8000      1.4     1.49
28   29     LIM         6400         8000      1.4     1.49
29   30     LIM         6400         8000      1.4     1.49
30   31     LIM         6400         8000      1.4     1.49

In [ ]:
dados_BD_UP

        UP  ...                         Unnamed: 13
0   S6C298  ...  Pegar com Italo do time do Clayton
1   S6C335  ...                                 NaN
2   S6C334  ...                                 NaN
3   S6C297  ...                                 NaN
4   S3AX06  ...                                 NaN
5   S3AX01  ...                                 NaN
6   S3AX02  ...                                 NaN
7   S3AX04  ...                                 NaN
8   S3AX03  ...                                 NaN
9   S5AW10  ...                                 NaN
10  S5AW05  ...                                 NaN
11  S5AW13  ...                                 NaN
12  S5AW09  ...                                 NaN
13  S5AW14  ...                                 NaN
14  S6BX01  ...                                 NaN
15  S6BG13  ...                                 NaN
16  S6BG14  ...                                 NaN
17  S6BG10  ...                                 NaN
18  S6BG11  ...                                 NaN
19  S6BG08  ...                                 NaN
20  S6BG12  ...                                 NaN
21  S6C421  ...                                 NaN
22  S5AK08  ...                                 NaN
23  S5AK09  ...                                 NaN
24  S5AK05  ...                                 NaN
25  S5AK10  ...                                 NaN

[26 rows x 14 columns]

In [ ]:
dados_rotas

    ORIGEM DESTINO  ... CICLO_LENTO                      Fazenda
0   S3AX01     LIM  ...           0                   INDIANA II
1   S3AX02     LIM  ...           0                   INDIANA II
2   S3AX03     LIM  ...           0                   INDIANA II
3   S3AX04     LIM  ...           0                   INDIANA II
4   S3AX06     LIM  ...           0                   INDIANA II
5   S3AX01     LIM  ...           0                   INDIANA II
6   S3AX02     LIM  ...           0                   INDIANA II
7   S3AX03     LIM  ...           0                   INDIANA II
8   S3AX04     LIM  ...           0                   INDIANA II
9   S3AX06     LIM  ...           0                   INDIANA II
10  S5AK05     LIM  ...           0              TURVO III (LEX)
11  S5AK08     LIM  ...           0              TURVO III (LEX)
12  S5AK09     LIM  ...           0              TURVO III (LEX)
13  S5AK10     LIM  ...           0              TURVO III (LEX)
14  S5AK05     LIM  ...           0              TURVO III (LEX)
15  S5AK08     LIM  ...           0              TURVO III (LEX)
16  S5AK09     LIM  ...           0              TURVO III (LEX)
17  S5AK10     LIM  ...           0              TURVO III (LEX)
18  S5AW05     LIM  ...           0  PIRACEMA_GLEBA PULADOR - DX
19  S5AW09     LIM  ...           0  PIRACEMA_GLEBA PULADOR - DX
20  S5AW10     LIM  ...           0  PIRACEMA_GLEBA PULADOR - DX
21  S5AW13     LIM  ...           0  PIRACEMA_GLEBA PULADOR - DX
22  S5AW14     LIM  ...           0  PIRACEMA_GLEBA PULADOR - DX
23  S5AW05     LIM  ...           0  PIRACEMA_GLEBA PULADOR - DX
24  S5AW09     LIM  ...           0  PIRACEMA_GLEBA PULADOR - DX
25  S5AW10     LIM  ...           0  PIRACEMA_GLEBA PULADOR - DX
26  S5AW13     LIM  ...           0  PIRACEMA_GLEBA PULADOR - DX
27  S5AW14     LIM  ...           0  PIRACEMA_GLEBA PULADOR - DX
28  S6BG08     LIM  ...           0                      SINIMBU
29  S6BG10     LIM  ...           0                      SINIMBU
30  S6BG11     LIM  ...           0                      SINIMBU
31  S6BG12     LIM  ...           0                      SINIMBU
32  S6BG13     LIM  ...           0                      SINIMBU
33  S6BG14     LIM  ...           0                      SINIMBU
34  S6BX01     LIM  ...           0         SANTO ANTONIO SALIG.
35  S6C297     LIM  ...           0                    FORTALEZA
36  S6C298     LIM  ...           0                    FORTALEZA
37  S6C334     LIM  ...           0                    FORTALEZA
38  S6C335     LIM  ...           0                    FORTALEZA
39  S6C421     LIM  ...           0                      SIRIEMA

[40 rows x 7 columns]

Algumas informações são desncessárias e outras podem ser alocadas em uma única tabela

In [ ]:
dados_demand['Ciclo Lento'] = dados_datas.loc[:,'CICLO_LENTO']
dados_demand = dados_demand.drop('FABRICA',axis=1)
dados_demand

    DIA  DEMANDA_MIN  DEMANDA_MAX  RSP_MIN  RSP_MAX Ciclo Lento
0     1         6400         8000      1.4     1.49           X
1     2         6400         8000      1.4     1.49         NaN
2     3         6400         8000      1.4     1.49         NaN
3     4         6400         8000      1.4     1.49         NaN
4     5         6400         8000      1.4     1.49         NaN
5     6         6400         8000      1.4     1.49         NaN
6     7         6400         8000      1.4     1.49         NaN
7     8         6400         8000      1.4     1.49           X
8     9         6400         8000      1.4     1.49         NaN
9    10         6400         8000      1.4     1.49         NaN
10   11         6400         8000      1.4     1.49         NaN
11   12         6400         8000      1.4     1.49         NaN
12   13         6400         8000      1.4     1.49         NaN
13   14         6400         8000      1.4     1.49         NaN
14   15         6400         8000      1.4     1.49           X
15   16         6400         8000      1.4     1.49         NaN
16   17         6400         8000      1.4     1.49         NaN
17   18         6400         8000      1.4     1.49         NaN
18   19         6400         8000      1.4     1.49         NaN
19   20         6400         8000      1.4     1.49         NaN
20   21         6400         8000      1.4     1.49         NaN
21   22         6400         8000      1.4     1.49           X
22   23         6400         8000      1.4     1.49         NaN
23   24         6400         8000      1.4     1.49         NaN
24   25         6400         8000      1.4     1.49         NaN
25   26         6400         8000      1.4     1.49         NaN
26   27         6400         8000      1.4     1.49         NaN
27   28         6400         8000      1.4     1.49         NaN
28   29         6400         8000      1.4     1.49         NaN
29   30         6400         8000      1.4     1.49         NaN
30   31         6400         8000      1.4     1.49         NaN

In [ ]:
dados_trans['Gruas'] = dados_gruas['QTD_GRUAS']
dados_trans['%'] = dados_gruas['PORCENTAGEM_VEICULOS_MIN']
dados_trans = dados_trans.drop('DIA',axis=1)
dados_trans

  TRANSPORTADOR  FROTA_MIN  FROTA_MAX  Gruas    %
0       Pastori         25         27      2  0.4
1         Tover         12         14      2  0.4
2       Rampazo         19         21      2  0.4

In [ ]:
colunas_interessadas = dados_BD_UP.columns[:5]
dados_BD_UP = dados_BD_UP[colunas_interessadas]
dados_BD_UP

        UP                      FAZENDA          DB    VOLUME       RSP
0   S6C298                    FORTALEZA  475.592290   3700.00  1.622175
1   S6C335                    FORTALEZA  462.157496   8405.00  1.519874
2   S6C334                    FORTALEZA  458.550818   5974.00  1.505206
3   S6C297                    FORTALEZA  408.376272   4791.00  1.367399
4   S3AX06                   INDIANA II  473.890188   5568.94  1.550207
5   S3AX01                   INDIANA II  476.359312  11874.50  1.546497
6   S3AX02                   INDIANA II  475.082497   3816.49  1.540128
7   S3AX04                   INDIANA II  471.026798   1300.00  1.511823
8   S3AX03                   INDIANA II  410.081889   2124.07  1.302226
9   S5AW10  PIRACEMA_GLEBA PULADOR - DX  489.657814  12776.12  1.441440
10  S5AW05  PIRACEMA_GLEBA PULADOR - DX  450.000000   4960.00  1.440000
11  S5AW13  PIRACEMA_GLEBA PULADOR - DX  471.883265  16280.54  1.410163
12  S5AW09  PIRACEMA_GLEBA PULADOR - DX  485.300233   3320.00  1.403137
13  S5AW14  PIRACEMA_GLEBA PULADOR - DX  467.553351  18533.08  1.378530
14  S6BX01         SANTO ANTONIO SALIG.  450.000000  12700.00  1.440000
15  S6BG13                      SINIMBU  482.776944   4300.00  1.562194
16  S6BG14                      SINIMBU  481.238487    800.00  1.549057
17  S6BG10                      SINIMBU  479.650625   1100.00  1.547472
18  S6BG11                      SINIMBU  479.286553   1150.00  1.542567
19  S6BG08                      SINIMBU  477.261800   1960.00  1.534662
20  S6BG12                      SINIMBU  478.190743  12000.00  1.532140
21  S6C421                      SIRIEMA  406.666302   4500.00  1.289003
22  S5AK08              TURVO III (LEX)  484.253826  13664.00  1.515094
23  S5AK09              TURVO III (LEX)  485.001740  21296.00  1.513740
24  S5AK05              TURVO III (LEX)  493.203247   9830.26  1.479045
25  S5AK10              TURVO III (LEX)  494.987423  14000.00  1.443982

In [ ]:
# ordem = dados_BD_UP.loc[:,'UP'].tolist()
# sorterIndex = dict(zip(ordem, range(len(ordem))))
# dados_rotas['sort'] = sorterIndex
# dados_rotas.sort_values('sort', ascending=true)
dados_rotas = dados_rotas.drop('DESTINO',axis=1)
dados_rotas

    ORIGEM TRANSPORTADOR  ...  CICLO_LENTO                      Fazenda
0   S3AX01       Rampazo  ...            0                   INDIANA II
1   S3AX02       Rampazo  ...            0                   INDIANA II
2   S3AX03       Rampazo  ...            0                   INDIANA II
3   S3AX04       Rampazo  ...            0                   INDIANA II
4   S3AX06       Rampazo  ...            0                   INDIANA II
5   S3AX01       Pastori  ...            0                   INDIANA II
6   S3AX02       Pastori  ...            0                   INDIANA II
7   S3AX03       Pastori  ...            0                   INDIANA II
8   S3AX04       Pastori  ...            0                   INDIANA II
9   S3AX06       Pastori  ...            0                   INDIANA II
10  S5AK05       Rampazo  ...            0              TURVO III (LEX)
11  S5AK08       Rampazo  ...            0              TURVO III (LEX)
12  S5AK09       Rampazo  ...            0              TURVO III (LEX)
13  S5AK10       Rampazo  ...            0              TURVO III (LEX)
14  S5AK05       Pastori  ...            0              TURVO III (LEX)
15  S5AK08       Pastori  ...            0              TURVO III (LEX)
16  S5AK09       Pastori  ...            0              TURVO III (LEX)
17  S5AK10       Pastori  ...            0              TURVO III (LEX)
18  S5AW05       Rampazo  ...            0  PIRACEMA_GLEBA PULADOR - DX
19  S5AW09       Rampazo  ...            0  PIRACEMA_GLEBA PULADOR - DX
20  S5AW10       Rampazo  ...            0  PIRACEMA_GLEBA PULADOR - DX
21  S5AW13       Rampazo  ...            0  PIRACEMA_GLEBA PULADOR - DX
22  S5AW14       Rampazo  ...            0  PIRACEMA_GLEBA PULADOR - DX
23  S5AW05       Pastori  ...            0  PIRACEMA_GLEBA PULADOR - DX
24  S5AW09       Pastori  ...            0  PIRACEMA_GLEBA PULADOR - DX
25  S5AW10       Pastori  ...            0  PIRACEMA_GLEBA PULADOR - DX
26  S5AW13       Pastori  ...            0  PIRACEMA_GLEBA PULADOR - DX
27  S5AW14       Pastori  ...            0  PIRACEMA_GLEBA PULADOR - DX
28  S6BG08         Tover  ...            0                      SINIMBU
29  S6BG10         Tover  ...            0                      SINIMBU
30  S6BG11         Tover  ...            0                      SINIMBU
31  S6BG12         Tover  ...            0                      SINIMBU
32  S6BG13         Tover  ...            0                      SINIMBU
33  S6BG14         Tover  ...            0                      SINIMBU
34  S6BX01         Tover  ...            0         SANTO ANTONIO SALIG.
35  S6C297         Tover  ...            0                    FORTALEZA
36  S6C298         Tover  ...            0                    FORTALEZA
37  S6C334         Tover  ...            0                    FORTALEZA
38  S6C335         Tover  ...            0                    FORTALEZA
39  S6C421         Tover  ...            0                      SIRIEMA

[40 rows x 6 columns]

In [ ]:
dados_BD_UP.loc[:,'DB'].mean()

468.00115043815055

In [ ]:
dados_BD_UP.loc[:,'RSP'].mean()

1.4802984277942255

In [ ]:
dados_BD_UP = dados_BD_UP.sort_values('DB', ascending=False)
dados_BD_UP

        UP                      FAZENDA          DB    VOLUME       RSP
25  S5AK10              TURVO III (LEX)  494.987423  14000.00  1.443982
24  S5AK05              TURVO III (LEX)  493.203247   9830.26  1.479045
9   S5AW10  PIRACEMA_GLEBA PULADOR - DX  489.657814  12776.12  1.441440
12  S5AW09  PIRACEMA_GLEBA PULADOR - DX  485.300233   3320.00  1.403137
23  S5AK09              TURVO III (LEX)  485.001740  21296.00  1.513740
22  S5AK08              TURVO III (LEX)  484.253826  13664.00  1.515094
15  S6BG13                      SINIMBU  482.776944   4300.00  1.562194
16  S6BG14                      SINIMBU  481.238487    800.00  1.549057
17  S6BG10                      SINIMBU  479.650625   1100.00  1.547472
18  S6BG11                      SINIMBU  479.286553   1150.00  1.542567
20  S6BG12                      SINIMBU  478.190743  12000.00  1.532140
19  S6BG08                      SINIMBU  477.261800   1960.00  1.534662
5   S3AX01                   INDIANA II  476.359312  11874.50  1.546497
0   S6C298                    FORTALEZA  475.592290   3700.00  1.622175
6   S3AX02                   INDIANA II  475.082497   3816.49  1.540128
4   S3AX06                   INDIANA II  473.890188   5568.94  1.550207
11  S5AW13  PIRACEMA_GLEBA PULADOR - DX  471.883265  16280.54  1.410163
7   S3AX04                   INDIANA II  471.026798   1300.00  1.511823
13  S5AW14  PIRACEMA_GLEBA PULADOR - DX  467.553351  18533.08  1.378530
1   S6C335                    FORTALEZA  462.157496   8405.00  1.519874
2   S6C334                    FORTALEZA  458.550818   5974.00  1.505206
14  S6BX01         SANTO ANTONIO SALIG.  450.000000  12700.00  1.440000
10  S5AW05  PIRACEMA_GLEBA PULADOR - DX  450.000000   4960.00  1.440000
8   S3AX03                   INDIANA II  410.081889   2124.07  1.302226
3   S6C297                    FORTALEZA  408.376272   4791.00  1.367399
21  S6C421                      SIRIEMA  406.666302   4500.00  1.289003

Export dos dados mais limpos

In [ ]:
dados_BD_UP.to_csv('BD_UP.csv', index = False)
#files.download('BD_UP.csv')

In [ ]:
dados_trans.to_csv('trans.csv')
#files.download('trans.csv')

In [ ]:
dados_demand.to_csv('demanda.csv')
#files.download('demanda.csv')